<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.jeppeman.locallydynamic.integration_tests.ondemandfeature">

    <application>
        <activity android:name=".IntegrationTestsOnDemandActivity" />
    </application>

    <dist:module
        dist:instant="false"
        dist:title="@string/title_ondemandfeature">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>
</manifest>

